<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="SeasonalityData" type="com.kdj.dataformat.SeasonalityData"/>
		<typeAlias alias="Parameter" type="com.kdj.dataformat.Parameter"/>
		<typeAlias alias="User" type="com.kdj.dataformat.User"/>
	</typeAliases>
</configuration>